<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta http-equiv="Expires" content="Fri, Jun 12 1981 08:20:00 GMT" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<title>Informs guide @ the side</title>
{{cssLink}}

<script type="text/javascript" language="JavaScript"><!--
{{javascript}}
//--></script>

</head>
<body {{netscapeMargin}} onload="{{javascriptOnLoad}}" class="guidebody">

<!-- hide the guide! -->

<table cellpadding="2" cellspacing="0" border="0" width="100%"><tr>
{{toolbar}}
</tr></table>
{{contents}}

<div id="hiddenblock">

<!-- start the guide at the side -->

<div class="sideguide">
<!-- top navigation bar link -->

<table class="innerguide" cellpadding="2" cellspacing="0" width="100%"><tr><td>
<tr><td style="text-align:left;" class="nav" width="1%">&nbsp;<b></b></td>
<td class="nav" width="100%" align="left" onclick="{{previousOnClick}} {{previousTargetJS}}.location.href='{{previousLink}}';">
<span class="nav"><a accesskey="p" onclick="{{previousOnClick}}" href="{{previousLink}}" target="{{previousTarget}}" title="{{previousTitle}}">{{previousTitle}}</a> </span>
</td>
<td style="white-space:nowrap" class="nav" width="100%" align="left" onclick="{{nextOnClick}} {{nextTargetJS}}.location.href='{{nextLink}}';">
<span class="nav"><a accesskey="n" onclick="{{nextOnClick}}" href="{{nextLink}}" target="{{nextTarget}}" title="{{nextTitle}}">{{nextTitle}}</a></span>
</td>
<td style="text-align:right;" class="nav" width="1%"></td></tr>
</td></tr></table>

<div class="heading">{{heading}}<br />{{pageInfo}}</div>

{{content}}

<!-- bottom navigation bar link -->

<table class="innerguidebottom" cellpadding="4" cellspacing="0" width="100%">
<tr><td style="text-align:left;" class="nav" width="1%"></td>

<td class="nav" width="100%" align="left" onclick="{{previousOnClick}} {{previousTargetJS}}.location.href='{{previousLink}}';">
<span class="nav"><a accesskey="p" onclick="{{previousOnClick}}" href="{{previousLink}}" target="{{previousTarget}}" title="{{previousTitle}}">{{previousTitle}}</a> </span>
</td>
<td style="white-space:nowrap" class="nav" width="100%" align="left" onclick="{{nextOnClick}} {{nextTargetJS}}.location.href='{{nextLink}}';">
<span class="nav"><a accesskey="n" onclick="{{nextOnClick}}" href="{{nextLink}}" target="{{nextTarget}}" title="{{nextTitle}}">{{nextTitle}}</a></span>
</td>

<td style="text-align:right;" class="nav" width="1%"></td></tr>
</table>

{{editLink}}
</div>
</div>
<div align="center">
<p><a href="/access.html" target="new">Accessibility </a></p>
<img src="/gfx/s_l_i.jpg" border="0" alt="Intute Informs Logo" />
</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1139367-1";
urchinTracker();
</script>
</body></html>