<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Expires" content="Fri, Jun 12 1981 08:20:00 GMT" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />

{{javascriptRefreshPage}}

<title>Intute Informs</title>
{{cssLink}}
</head>

<body class="body_main" onload="{{javascriptOnLoad}}">

<!-- rendered database content starts here  -->

<div class="content">
{{content}}
</div>

<!-- rendered database content ends here  -->

{{editLink}}

</body>
</html>

{{stats}}