<div align="left">
<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr><td><img src="/gfx/cthru.gif" height="1" width="488" alt="" /></td></tr>
<tr>
<td>
  <table width="100%" border="0" cellpadding="5" cellspacing="0" class="portfolioborder">
  <tr class="portfoliohead">
  <td>
  <table cellpadding="1" cellspacing="0" border="0" width="100%"><tr>
    <td class="portfoliohead" align="left"><b><a href="{{unitLink}}" target="_blank">{{unitTitle}}</a></b></td>
    <td align="right" class="portfoliohead"><font size="2" class="stepcounter">{{numberOfSteps}}</font></td>
    <td align="right" width="1"><a href="{{printableLink}}" target="_blank" alt="click here for a single page printable version of this unit" title="click here for a single page printable version of this unit"><img border="0" src="{{printerIcon}}" alt="click here for a single page printable version of this unit" /></a></td>
   </tr></table>
  </td>
  </tr>
  <tr class="portfoliotext" id="description" ><td width="100%" align="left" class="portfoliobody">{{unitDescription}}</td></tr>
  {{adminStuff}}

<tr><td>
<!--
<div class="js-kit-rating" title="Rated item" view="split" path="/{{unitTitle}}" permalink="http://dev.intute.ac.uk:8080/informs/review/$unitTitle"></div>

<div class="js-kit-comments"  label="Comment this tutorial" path="/{{unitTitle}}" permalink="http://dev.intute.ac.uk:8080/informs/review/unitTitle"></div>
-->
</td>
</tr> 
  </table>
</td>
</tr>
</table>
</div>