/* TYPOGRAPHY */

/* text sizing http://24ways.org/2006/compose-to-a-vertical-rhythm */
body /* for ie6 and below */ { font-size: 90%; color: #3a3939; background: #ffffff;  } 
html>body /* for all other browsers */ { font-size: 14px;} 
p, h2, h3, h4, h5, h6, ul, ol, dl, form, blockquote, fieldset, table  /* = 6px of spacing between lines making 21px total line-height */ 
{ line-height: 1.5em; }
p, h2, h3, h4, h5, h6, ul, ol, dl, form, blockquote, fieldset, table  /* set margins to preserve 21px line-height by matching line-height */ 
{ font-size: 1em; margin-top: 1.5em; margin-bottom: 1.5em; }
body, form { font-family:  "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Lucida, Verdana, Arial;     }
h1 {  font-size: 1.5em; line-height: 0.875em; margin-top: 0; margin-bottom: 1.25em; color: #e11e03 }
h2 { /* 18px */ font-size: 1.285714em;  font-weight: normal; line-height: 1.166667em; margin-bottom: 1.166667em; margin-top: 1.166667em; color: #3a3939  }
h3 { /* 14px */ font-size: 1em;  font-weight: bold; line-height: 1.5em; margin-top: 1.5em; margin-bottom: 1.5em;  color: #3a3939  }
h4 { /* 14px */ font-size: 1em;  font-weight: bold; line-height: 1.5em; margin-top: 1.5em; margin-bottom: -1.5em;  color: #3a3939 }
.smalltext /* equivalent to 12px */ { font-size: 0.857142em; line-height: 1.75em }


/* links */
a, a:link, a:visited { text-decoration: none; color: #0c7faf; border-bottom: 1px solid #85bfd7; }
a:hover, a:focus, a:active {  color: #0b6d95; border-bottom: 1px solid #0b6d95;}

/* centering */
.center /* centers fixed width column, used for footer, header and content */ { width: 960px;  margin: 0 auto; position: relative;  position: relative; z-index: 1000    } 

/* main navigation */
#main-navigation { background: #38514f ;  }
#main-navigation ul { border-left: 1px solid #4e6f6d; margin-bottom: 0; margin-top: 0; height: 2.5em } 
#main-navigation ul li { float: left;  border-right: 1px solid #4e6f6d; margin: 0 }
#main-navigation ul li a, #main-navigation ul li a:visited { display: block; padding: 0.5em 0.75em; font-weight: bold; color: white; border: 0;   background: #38514f  }
#main-navigation ul li a:hover { background-color: #2c3736 }
#main-navigation ul li a.link-on, #main-navigation ul li a.link-on:visited { background: #008e82;  } 


/* content */
.content { float: left; width: 590px; position: relative; top: -1.5em;  }
#content-full-width { width: 770px;  }

/* browse listings */
.browse-list { color: #999 }

/* subnavigation */
.subnavigation-column { width: 160px;  float: left; margin-left: 20px }
.subnavigation-column ul { margin-top: 0  }
.subnavigation-column ul li { margin: 0 0 0.25em 0 }
.subnavigation-column h4 { margin: 0 0 0.25em 0 }

/* breadcrumbs */
p.breadcrumbs { margin-bottom: 0.75em }

/* footer */
#footer { padding: 0.75em 0 3em 0; position: relative}
#footer ul { margin: 0 /* to clear logos */ 200px 0 0; padding: 0; overflow: auto}
#footer ul li { float: left; margin-right: 0.3em}
#footer ul#footer-logos { position: absolute; right: 0; top: 0.75em; margin: 0  }
#footer ul#footer-logos li { margin-right: 0; margin-left: 0.3em  }
#footer ul#footer-logos a { border-bottom: 0 }

/* image style */
.image { border: 1px solid #ccc; padding: 2px; background: white; }
.image-float-right { margin: 0em 0 0.5em 1.5em; float: right; }
.image-float-left { margin: 0 1.5em 0.5em 0; float: left; }

/* promo boxes */
.promo { border-width: 1px; border-style: solid; padding: 0 10px }
.promo-blue { border-color: #3ab3bc; background: #e4f3f6 }

/* table styles */
.tablestyle { border: 1px solid #c0c3bc; }
.tablestyle td, .tablestyle th { border: 1px solid #c0c3bc; padding: 10px }
.smalltext td, .smalltext th { padding: 5px }
.tablestyle th { background: #e7eadc }


/* form styles */
form { }
fieldset { border: 1px solid #c0c3bc; padding: 10px; }
legend { background: white; padding: 0 5px; font-weight: bold }
label {  padding-top: 10px }
.form-button { background: #7eb734; color: white; border: 2px solid #7eb734; font-weight: bold;   }
.form-button, input, select { font-family:  "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Lucida, Verdana, Arial;  }

/* 2 columns of 50% width each in a full width layout */
.col-50percent-left { float: left; width: 375px; }
.col-50percent-right { float: right; width: 375px;   }
.col-50percent-container { clear: right; padding-top: 0.75em }

/* basic browse styling used throughout site */
.browse-box {  border: 1px solid #39b4bf;  padding: 15px 15px 0 15px; background: #e5f3f6 }

.content .browse-box ul li {  background: none;  margin-left: 0; padding-left: 0; margin-bottom: 0.25em }

/* basic search box styling used throughout site */
.search-box { border: 1px solid #39b4bf; padding: 15px; background: #e5f3f6 }

/* my intute dashboard */
#myintute-dashboard {  width: 960px; }
.col-66percent-left {   width: 640px; float: left; margin-top: 1em }
.col-33percent-right {  width: 320px; float: right; margin-top: 1em  }
.myintute-db-box { border: 1px solid #c0c3bc; padding-bottom: 1em; margin-bottom: 1em  }
.myintute-db-box p { padding-left: 1em; padding-right: 1em }
.col-66percent-left .myintute-db-box { margin-right: 10px }
.col-33percent-right .myintute-db-box { margin-left: 10px }
.myintute-db-box h2 { margin: 0 0 0 0;  font-weight: bold; position: relative;  padding: 0.5em 0.75em; background: #eee }
.myintute-db-box h2 span { color: #666; font-weight: normal  }
.myintute-db-box h2 img.rss { position: absolute; right: 0.5em; top: 0.5em }
#bookmark-list-container { width: 370px;  }
#tagcloud-list-container { width: 200px; float: right; border: 1px solid #ccc; margin: 1em 1em 0 0; background: #e4f3f6; padding: 10px }
#tagcloud-list-container h3 { margin: 0 }
#tagcloud-list-container ul { list-style-image: none; list-style-type: none; margin-top: 0.75em }
#tagcloud-list-container li { list-style-image: none; list-style-type: none; background-image: none; float: left; padding-left: 0; display: block; margin-right: 0.5em; line-height: 2em; white-space: nowrap }
#bookmark-buttons { overflow: auto; margin: 1em 0 0 1em; padding: 0;}
#bookmark-buttons li { list-style-image: none; list-style-type: none; background-image: none; float: left; padding-left: 0; margin: 0 4px 0 0 }
#bookmark-buttons li a { background: #7eb734; color: white; border-top:2px solid #8fc845; border-left:2px solid #8fc845; border-bottom: 2px solid #5c9512; border-right: 2px solid #5c9512; font-weight: bold; display: block; padding: 0.1em 0.25em }
#bookmark-buttons li a:hover { background: #8fc845; color: #eee; border-bottom:2px solid #9fd956; border-right:2px solid #9fd956; border-top: 2px solid #5c9512; border-left: 2px solid #5c9512;}
#my-bookmarks ul.bookmark-list  {  margin: 1em 0 0 1em; padding: 0; list-style-image: none; list-style-type: none; border-top: 1px dashed #ccc; }
#my-bookmarks ul.bookmark-list li { list-style-image: none; list-style-type: none; background-image: none; margin: 0; font-weight: bold; position: relative; clear: left;  padding: 0.5em 6em 0.5em 0;  overflow: auto; border-bottom: 1px dashed #ccc;    }
#my-bookmarks ul.bookmark-list ul.tagnames { overflow: auto; margin: 0.3em 0 0 0; padding: 0; border-top: 0px; }
#my-bookmarks ul.bookmark-list ul.tagnames li {  float: left; clear: none;  margin: 0 0.4em 0.2em 0; padding: 0; font-weight: normal;  font-size: 90%;  border-bottom: 0px }
#myintute-dashboard #my-bookmarks ul ul.tagnames li a { white-space: nowrap; color: #666; border: 1px solid #eee; background: #eee; padding: 0.05em 0.25em; margin: 0; display: block; }
#myintute-dashboard #my-bookmarks ul ul.tagnames li a:hover { color: #333; border: 1px solid #eee; background: white;  margin: 0 }
#myintute-dashboard #my-bookmarks ul ul.tagnames li.myintute-db-view-record { display: block;    }
#myintute-dashboard #my-bookmarks ul ul.tagnames li.myintute-db-view-record a { color: #333; border-bottom: 0; background: #e4f3f6; font-weight: bold; padding: 0.25em   }
.edit-delete { font-size: 90%; font-weight: normal; color: #ccc; padding-left: 0.5em; position: absolute; right: 0; top: 0.5em   }
.edit-delete a {  color: #666; border-bottom: 1px solid #ccc }
.edit-delete img { position: relative; top: 2px }

#general-subject-alerts form { margin: 0 1em; background-image: none; list-style-image: none; list-style-type: none;}
#general-subject-alerts ul { padding: 0; margin: 0 0 0.5em 0 }
#general-subject-alerts ul li { background-image: none; padding: 0; list-style-image: none; list-style-type: none; margin: 0   }
#general-subject-alerts ul li label { padding-left: 0.25em}

#saved-searches-alerts ul { margin: 0 1em; background-image: none; list-style-image: none; list-style-type: none;}
#search-updates-button { margin: 1em 1em 0 1em }
#saved-searches-alerts li { position: relative; margin-bottom: 0.5em; background-image: none; padding-left:0  }
#saved-searches-alerts .edit-delete { top: 0 }

/* myintute not logged in box style */

#not-logged-in #myintute form { padding: 10px; background: transparent; margin: 0; border-bottom: 1px solid #c1c2bc;  }
#not-logged-in #myintute form label { margin: 0; padding: 5px 0 0 0; font-weight: bold; display: block;  }
#not-logged-in #myintute form .form-button { margin-top: 5px }
#not-logged-in #myintute form p { margin: 10px 0 0 0; padding-right: 10px } 
#myintute-promo { padding: 10px; background: white }
#myintute-promo p { margin: 5px 0 0 0 }
#myintute-promo ul { margin: 5px 0 0 0 }
#myintute-promo ul li { padding-left: 18px; background: url(images/tick-icon.gif) no-repeat 0 2px }
input#password, input#username { border: 1px solid #c1c2bc; padding: 0.2em 0 }



/* 
#myintute-dashboard #my-bookmarks ul li ul.bookmark-edit { position: absolute; left: -5em; top: 0.3em;  background: #e4f3f6; padding: 0.2em 0.2em 0.2em 0.3em; 
border-top: 0px }
#myintute-dashboard #my-bookmarks ul li ul.bookmark-edit li { border-right: 0; margin: 0 0.1em 0.1em; border-bottom: 0px; padding: 0.15em }
#myintute-dashboard #my-bookmarks ul li ul.bookmark-edit li a { border: 0; padding: 0.2em 0.1em 0 0.1em; color: #0c7faf; border-bottom: 1px solid #85bfd7;  }
#myintute-dashboard #my-bookmarks ul li ul.bookmark-edit li img { position: relative; top: 2px; border: 0px } */


/* Mega-dropdown styles */

ul#menu li.mega div {
  
  position: absolute;

  left: 0em;
  
}

ul#menu li {
  display: inline;
  position: relative;
}

ul#menu div {
  display: none;
}

ul#menu li.mega div {
  width: 18em;
  position: absolute;
  z-index: 1;
  left: 0em;
  padding: 10px;
}

ul#menu li.hovering div {
  display: block;
  background-color: #2c3736;
  width: 450px;
}

ul#menu li.hovering div h2 {
  display: block;
  color: white;
}

ul#menu li.hovering div a {
  color: white;
  border: 0;
  float: none;
  font-size: .8em;
}

ul#menu li.hovering div li {
    display: inline;
}
    
ul#menu li.hovering div form {
    clear: left;
}

#main-navigation ul li.mega div li { float: none; border: 0; display: block; border: 0; position:relative; z-index:50;}
#main-navigation ul#menu li.mega div li a { background: 0; padding: 0; border: 0;  color: #0c7faf; border-bottom: 1px solid #85bfd7; display: inline }
#main-navigation ul#menu li.mega div li a:hover { border-bottom: 1px solid #0c7faf; background: white}
#main-navigation ul#menu li.mega div { background: white; border: 1px solid #ccc; margin-left: -1px; border-top: 0; font-size: 110%;  width: 550px; padding: 1em 0 0 0;  }
#main-navigation ul#menu li.mega ul { border: 0; width: 250px; padding: 0 10px 10px 10px;  height: auto; }
#main-navigation ul li.mega div h2 { color: #333; margin: 0 10px 10px 10px; font-size: 80%; font-weight: bold }
#main-navigation ul li.mega div label { font-weight: bold; font-size: 80%; } 

.dropdown-list-left { float: left }
.dropdown-list-right { float: right }
#main-navigation ul#menu li.mega { z-index: 50/* the bit that makes it work in IE */ }
#main-navigation ul#menu li a:hover { background-color: #2c3736 }
#main-navigation ul#menu li.mega a { background: #38514f url(/images/dropdown-arrow.gif) no-repeat right center; padding-right: 20px }
ul#menu li.hovering div a {
  color: white;
  border: 0;
  float: none;
  font-size: .8em;
}

#main-navigation ul li.mega div form { background: #e4f3f6; margin: 0; padding: 10px; clear: both }



// ###### chris new stuff for comments #####################

div.commbox {
	padding:0.25em;
	margin:0.25em;
	border:1px solid #ccc;
}


div.commby {
	font-family: Arial, verdana, sans-serif;
	background:#ededed;
	padding:0.25em;
	margin:0.25em;
}

div.comm {
	font-family: Arial, verdana, sans-serif;
	padding:0.25em;
	padding-left:1em;
	margin:0.25em;
}
div.repby {
	font-family: Arial, verdana, sans-serif;
	background:#ededed;
	padding:0.25em;
	margin:0.25em;
	margin-left:3em;

}
div.rep {
	font-family: Arial, verdana, sans-serif;
	padding:0.25em;
	padding-left:4em;
	margin:0.25em;
}


div.rply {
  background:#ddd;
	text-align:left;
	padding:0.25em;
}

span.reply {
	color:#00f;
	cursor:pointer;
}
span.reply:hover {
	color:#f00;
	cursor:pointer;
}

/* feedback form */
.feedbackspacer{clear:both; height:1px;}
/* ----------- Form ----------- */
.feedbackform{
margin:0 auto;
width:500px;
padding:15px;
}


/* ----------- feedback ----------- */
#feedback{
border:solid 1px #c0c3bc;
background:#e4f3f6;
float:middle;
margin-top:200px;
}
#feedback h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#feedback p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#feedback label{
display:block;
text-align:right;
width:140px;
float:left;
}
#feedback .small{
color:#666666;
display:block;
font-size:10px;
font-weight:normal;
text-align:right;
width:140px;
}
#feedback input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:300px;
margin:10px 0 10px 10px;
}
#feedback textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:300px;
height:100px;
margin:10px 0 10px 10px;
}
#feedback .informsbox{
float:left;
border:solid 1px #aacfe4;
margin:12px 124px 10px 7px;
width:2em;
}
#feedback select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:305px;
margin:2px 0 10px 10px;
}
#feedback input[type="submit"]{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:150px;
margin:2px 0 1px 10px;
}
.feedback-form-button {
width:100px;
background: #7eb734; 
color: white; 
border: 2px solid #7eb734; 
font-weight: bold; 
font-size:14px;
}

/* end feedback form */

.informsupdated {
float:left;
}

.inf {
font-weight:bold;
}
